In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [ ]:
city_list = ['Москва', 'Санкт-Петербург', 'Новосибирск', 'Казань', 'Нижний Новгород']
popul_list = [12600000, 5400000, 6200000, 1500000, 1300000]
index_list = [1,2,3,4,5]

In [ ]:
df = pd.DataFrame(columns = ['city', 'population'], index = index_list)
df.head()

  city population
1  NaN        NaN
2  NaN        NaN
3  NaN        NaN
4  NaN        NaN
5  NaN        NaN

In [ ]:
df.city = city_list
df.population = popul_list
df.head()

              city  population
1           Москва    12600000
2  Санкт-Петербург     5400000
3      Новосибирск     6200000
4           Казань     1500000
5  Нижний Новгород     1300000

### LabelEncoder

In [ ]:
labelencoder = LabelEncoder()
df['city_label'] = labelencoder.fit_transform(df.city)
df.head()

              city  population  city_label
1           Москва    12600000           1
2  Санкт-Петербург     5400000           4
3      Новосибирск     6200000           3
4           Казань     1500000           0
5  Нижний Новгород     1300000           2

In [ ]:
labelencoder.inverse_transform([2, 4, 1])

array(['Нижний Новгород', 'Санкт-Петербург', 'Москва'], dtype=object)

### OneHotEncoding

In [ ]:
ohe = OneHotEncoder()
df_ohe = pd.DataFrame(ohe.fit_transform(df[['city_label']]).toarray())
df = df.join(df_ohe)
df

              city  population  city_label    0    1    2    3    4
1           Москва    12600000           1  0.0  0.0  0.0  0.0  1.0
2  Санкт-Петербург     5400000           4  0.0  0.0  0.0  1.0  0.0
3      Новосибирск     6200000           3  1.0  0.0  0.0  0.0  0.0
4           Казань     1500000           0  0.0  0.0  1.0  0.0  0.0
5  Нижний Новгород     1300000           2  NaN  NaN  NaN  NaN  NaN

### Pandas get_dummies

In [ ]:
dum_df = pd.get_dummies(df, columns = ['city_label'], prefix = ['get_D'])
dum_df

,city,population,0,1,2,3,4,get_D_0,get_D_1,get_D_2,get_D_3,get_D_4
1,Москва,12600000,0.0,0.0,0.0,0.0,1.0,0,1,0,0,0
2,Санкт-Петербург,5400000,0.0,0.0,0.0,1.0,0.0,0,0,0,0,1
3,Новосибирск,6200000,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0
4,Казань,1500000,0.0,0.0,1.0,0.0,0.0,1,0,0,0,0
5,Нижний Новгород,1300000,NaN,NaN,NaN,NaN,NaN,0,0,1,0,0